<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
<link th:href="@{/css/navbar-top-fixed.css}" rel="stylesheet"></link>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/tether.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>

	
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
		<a class="navbar-brand" href="/">Prototype</a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

		  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="align-text: right;">
			<li class="nav-item active" sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/cuentaBancaria/cuentaBancaria}">Cuenta bancaria</a></li>
			<li class="nav-item active" sec:authorize="!isAuthenticated()"><a
					class="nav-link" href="" th:inline="text">[[${#httpServletRequest.remoteUser}]]</a></li>
				<li class="nav-item active" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="javascript:$('#logoutForm').submit();">Cerrar sesión</a></li>
			</ul>
		</div>
	</nav>
	
	<form id="logoutForm" method="post" th:action="@{/logout}">

		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />

	</form>
	
	<div class="container" style="margin-top: 5%;">
		<div class="card mb-3" style="max-width: 100%; padding: 20px;">
		  <div class="row no-gutters">
		    <div class="col-md-2" style="text-align: center;">
		      <img src="/indice.png" class="card-img" alt="..." width="" height="">
		      <br><br>
		      <button class="btn btn-light">Editar foto</button>
		      <br><br>
		      <button class="btn btn-light">Cambiar contraseña</button>
		    </div>
		    <div class="col-md-10">
		      <div class="card-body" style="padding: 5%;">
		      <form th:action="@{/userController/update}" method="POST">
		      	<input type="hidden" th:value="${usuario.id}" name="id" >
		      <h4><input type="text" th:value="${usuario.name}" name="name" class="card-title" style="border: 0;"><input type="text" th:value="${usuario.apellido}" name="apellido" class="card-title" style="border: 0;"></h4>
		        <br>
		        <div class="row">
		        	<label class="col-sm-4">Sexo</label>:&nbsp;&nbsp;
			        <div class="col-sm-6"> 
			        	<input type="radio" name="sexo" value="F" th:checked="${usuario.sexo == 'F'}">&nbsp;Femenino&nbsp;
						<input type="radio" name="sexo" value="M" th:checked="${usuario.sexo == 'M'}">&nbsp;Masculino
			        	<hr>
			        </div>
		        </div>
		        
		        <div class="row">
		        	<label class="col-sm-4">E-mail</label>:&nbsp;&nbsp;
			        <div class="col-sm-6"> 
			        	<input type="text" readonly class="form-control" style="border: 0;" th:value="${usuario.email}" name="email">
			        	<hr>
			        </div>
		        </div>
		        <div class="row">
		        	<label class="col-sm-4">Fecha de nacimiento</label>:&nbsp;&nbsp;
			        <div class="col-sm-6">
			        	<input type="date" name="fecha_nacimiento" th:value="${usuario.fecha}" class="form-control"  style="border: 0;">
			        	<hr>
			        </div>
		        </div>
		        
		        <div class="row">
		        	<label class="col-sm-4">Teléfono</label>:&nbsp;&nbsp;
			        <div class="col-sm-6"> 
			        	<input type="text" th:value="${usuario.telefono}" name="telefono" class="form-control" style="border: 0;">
			        	<hr>
			        </div>
		        </div>
		        
		        <button class="btn  btn-outline-danger btn-sm btn-block">Eliminar cuenta</button>
		        <button type="submit" class="btn btn-light btn-sm btn-block">Actualizar campos</button>
		      </form>
		      
		      </div>
		      
		    </div>
		    <!-- <div class="col-md-2">
		    <ul class="list-group list-group-flush">
  				<li class="list-group-item" style="color: orange;"><ion-icon name="refresh" size="large"></ion-icon></li>
  				<li class="list-group-item">Cambiar contraseña</li>
			</ul>
		    	<button class="btn btn-primary btn-sm">Actualizar</button>
		    	<button class="btn btn-primary btn-sm">Cambiar contraseña</button>
		    </div> -->
		  </div>
		</div>
	</div>
	
</body>
</html>